*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    background-color:rgba(150, 66, 108, 0.195);
    background-image: url(img/patron-color-pastel-caramelo-dibujado-mano_23-2150623234.avif);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

}

header{
    background-color: #ffffff00;
	padding: 15px;
	overflow: hidden;
}

  header a {
      color: #e158a1;
      text-decoration: none;
      padding: 5px;
      display: block;
  }
  header a:hover {
      background-color: #FFFFFF;
      color: #9f1455;
  }



nav {  
    float: right; 
    
 }
 nav ul li {
 
 display: inline-block;
 margin-right: 275px;
 margin-left: 2px;
 
 
 }

/*nav{
    float: right;
    padding-right: 20px;
    margin-right: 400px;

}
nav ul li {
    list-style: none;
    margin-left: 75px;
    padding: 12px 0;
    float: left;
}

nav ul li a {
    text-decoration: none;
    color: rgb(226, 33, 97);
    font-size: larger;
}*/
 
 

 .img-01{
    
          width: 250px;
        height: 250px;
         border-radius: 50%;
         justify-content: center;
         margin-left: 550px;
   

 }

 .contenedor{
    display: flex;
    justify-content: center;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 65px;

 }

 .image-01{
    width: 330px;
    height: 220px;
    margin-right: 20px;

 }
 .image-02{
    width: 330px;
    height: 220px;
    margin-left: 20px;

 }
 .image-03{
    width: 330px;
    height: 220px;
    margin-left: 35px;

 }

    
    



/*
nav ul li a:hover{
    width: 100%;
}*/