*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    background-color:rgba(235, 17, 126, 0.195);
    background-image: url(img/patron-color-pastel-caramelo-dibujado-mano_23-2150623234.avif);
    background-repeat: no-repeat;
    background-size: cover;

}

header{
    width: 100%;
    clear: both;
    content: '';
    display: table;
}

menu{
    width: 900px;
    margin: 0 auto;
}

nav{
    float: right;
    padding-right: 20px;
    margin-right: 400px;

}
nav ul li {
    list-style: none;
    margin-left: 75px;
    padding: 12px 0;
    float: left;
}

nav ul li a {
    text-decoration: none;
    color: rgb(226, 33, 97);
    font-size: larger;
}
 
 .contenedor{

    padding: 8px;
    color: rgb(226, 33, 97);
    padding-left: 523px;
    padding-top: 11px;
    margin-top: 9px;
    

 }

 .img-01{
    
    
        position: relative;
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 50%;
    
      
    
        width: 30%;
        height: auto;
        left: 500px;
         top: 100px;

    

    
    


 }


nav ul li a:hover{
    width: 100%;
}